@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic.Themes.Basic.Components.AboutUs;

@model AboutUsModel

<div class="container">

    <div class="row align-items-center col-mb-50">

        <div class="col-md-4 text-center">
            <img data-animate="fadeInLeftBig" src="/themes/erindOnTrack/images/about/erind.jpg" alt="Erind" class="fadeInLeft animated">
        </div>

        <div class="col-md-8 text-center text-md-start">
            <div class="heading-block border-bottom-0">
                <h3>@Html.Raw(Model.Title)</h3>
            </div>
            <p>@Model.Paragraphs.First()</p>
            <p>@Model.Paragraphs.Skip(1).First()</p>
            <a href="#" class="button button-border button-danger button-rounded button-large ms-0 mt-4">Call Me</a>
        </div>

    </div>

</div>