@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic.Themes.Basic.Components.Brand
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic.Themes.Basic.Components.Menu
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic.Themes.Basic.Components.Toolbar

<!-- Header
============================================= -->
<header id="header" class="full-header transparent-header" data-sticky-class="not-dark">

	<div id="header-wrap">

		<div class="container">

			<div class="header-row">

				<!-- Logo
				============================================= -->
				@(await Component.InvokeAsync<MainNavbarBrandViewComponent>("mdw"))
				<!-- #logo end -->

				<div class="primary-menu-trigger">
					<button class="cnvs-hamburger" type="button" title="Open Mobile Menu">
						<span class="cnvs-hamburger-box"><span class="cnvs-hamburger-inner"></span></span>
					</button>
				</div>

				<!-- Primary Navigation
				============================================= -->
				<nav class="primary-menu">

					<ul class="menu-container">

						@(await Component.InvokeAsync<MainNavbarMenuViewComponent>("mdw"))

					</ul>

				</nav><!-- #primary-menu end -->

			</div>

		</div>

	</div>

	<div class="header-wrap-clone"></div>

</header><!-- #header end -->

<!--

	<ul class="menu-container">
		<li class="menu-item sub-menu">
			<a class="menu-link" asp-page="Index"><div>Home</div></a>
		</li>
		<li class="menu-item sub-menu">
			<a class="menu-link" href="#" onclick="checkboxClick(this);"><div>Services</div></a>
			<ul class="sub-menu-container not-dark" style="">
				<li class="menu-item sub-menu" style="">
					<a class="menu-link" asp-page="Interior"><div>Interior</div></a>
				</li>
				<li class="menu-item sub-menu" style="">
					<a class="menu-link" asp-page="Exterior"><div>Exterior</div></a>
				</li>
				<li class="menu-item-divider" style=""></li>
				<li class="menu-item sub-menu" style="">
					<a class="menu-link" asp-page="Residential"><div>Residential</div></a>
				</li>
				<li class="menu-item sub-menu" style="">
					<a class="menu-link" asp-page="Commercial"><div>Commercial</div></a>
				</li>
				<li class="menu-item-divider" style=""></li>
				<li class="menu-item sub-menu" style="">
					<a class="menu-link" asp-page="Wallpapering"><div>Wallpapering</div></a>
				</li>
			</ul>
			<button class="sub-menu-trigger fa-solid fa-chevron-right"><span class="visually-hidden">Open Sub-Menu</span></button>
		</li>
		<li class="menu-item sub-menu">
			<a class="menu-link" asp-page="Project"><div>Projects</div></a>
		</li>
		<li class="menu-item sub-menu">
			<a class="menu-link" asp-page="Contact"><div>Contact</div></a>
		</li>
	</ul>

-->