@using System.Linq
@using Microsoft.AspNetCore.Http.Extensions
@using AgileCms.AspNetCore.Mvc.UI.Theme.Mdw.Themes.Mdw.Components.Toolbar.LanguageSwitch
@model LanguageSwitchViewComponentModel
@if (Model.OtherLanguages.Any())
{
    <a href="#">@Model.CurrentLanguage.CultureName<i class="sub-menu-indicator fa-solid fa-caret-down"></i></a>
    <ul class="top-links-sub-menu">
        @foreach (var language in Model.OtherLanguages)
        {
            <li class="top-links-item">
                <a href="~/Abp/Languages/Switch?culture=@(language.CultureName)&uiCulture=@(language.UiCultureName)&returnUrl=@(System.Net.WebUtility.UrlEncode(Context.Request.GetEncodedPathAndQuery()))">
                    <i class="@language.FlagIcon"></i> 
                    @language.CultureName
                    </a>
            </li>
        }
    </ul>
}
