@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic.Themes.Basic.Components.FeaturedWorks

@model FeaturedWorksModel

<div class="container">

	<div class="heading-block text-center">
		<h3>Some of our <span>Featured</span> Works</h3>
		<span>We have worked on some Awesome Projects that are worth boasting of.</span>
	</div>

	<div id="oc-portfolio" class="owl-carousel portfolio-carousel carousel-widget owl-loaded owl-drag" data-margin="1" data-pagi="false" data-autoplay="5000" data-items-xs="1" data-items-sm="2" data-items-md="3" data-items-xl="4">

		<div class="owl-stage-outer">
			<div class="owl-stage" style="transform: translate3d(-1117px, 0px, 0px); transition: all 0s ease 0s; width: 2234px;">
				<div class="owl-item" style="width: 278.25px; margin-right: 1px;">
					<div class="portfolio-item">
						<div class="portfolio-image">
							<a href="portfolio-single.html">
								<img src="images/portfolio/4/1.jpg" alt="Open Imagination">
							</a>
							<div class="bg-overlay">
								<div class="bg-overlay-content dark not-animated" data-hover-animate="fadeIn" data-hover-speed="350" data-bs-theme="dark" style="animation-duration: 350ms;">
									<a href="images/portfolio/full/1.jpg" class="overlay-trigger-icon bg-light text-dark not-animated" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeInUpSmall" data-hover-speed="350" data-lightbox="image" style="animation-duration: 350ms;"><i class="uil uil-plus"></i></a>
									<a href="portfolio-single.html" class="overlay-trigger-icon bg-light text-dark not-animated" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeInUpSmall" data-hover-speed="350" style="animation-duration: 350ms;"><i class="uil uil-ellipsis-h"></i></a>
								</div>
								<div class="bg-overlay-bg dark not-animated" data-hover-animate="fadeIn" data-hover-speed="350" data-bs-theme="dark" style="animation-duration: 350ms;"></div>
							</div>
						</div>
						<div class="portfolio-desc">
							<h3><a href="portfolio-single.html">Open Imagination</a></h3>
							<span><a href="#">Media</a>, <a href="#">Icons</a></span>
						</div>
					</div>
				</div><div class="owl-item" style="width: 278.25px; margin-right: 1px;">
					<div class="portfolio-item">
						<div class="portfolio-image">
							<a href="portfolio-single.html">
								<img src="images/portfolio/4/2.jpg" alt="Locked Steel Gate">
							</a>
							<div class="bg-overlay">
								<div class="bg-overlay-content dark not-animated" data-hover-animate="fadeIn" data-hover-speed="350" data-bs-theme="dark" style="animation-duration: 350ms;">
									<a href="images/portfolio/full/2.jpg" class="overlay-trigger-icon bg-light text-dark not-animated" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeInUpSmall" data-hover-speed="350" data-lightbox="image" style="animation-duration: 350ms;"><i class="uil uil-plus"></i></a>
									<a href="portfolio-single.html" class="overlay-trigger-icon bg-light text-dark not-animated" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeInUpSmall" data-hover-speed="350" style="animation-duration: 350ms;"><i class="uil uil-ellipsis-h"></i></a>
								</div>
								<div class="bg-overlay-bg dark not-animated" data-hover-animate="fadeIn" data-hover-speed="350" data-bs-theme="dark" style="animation-duration: 350ms;"></div>
							</div>
						</div>
						<div class="portfolio-desc">
							<h3><a href="portfolio-single.html">Locked Steel Gate</a></h3>
							<span><a href="#">Illustrations</a></span>
						</div>
					</div>
				</div><div class="owl-item" style="width: 278.25px; margin-right: 1px;">
					<div class="portfolio-item">
						<div class="portfolio-image">
							<a href="#">
								<img src="images/portfolio/4/3.jpg" alt="Mac Sunglasses">
							</a>
							<div class="bg-overlay">
								<div class="bg-overlay-content dark not-animated" data-hover-animate="fadeIn" data-hover-speed="350" data-bs-theme="dark" style="animation-duration: 350ms;">
									<a href="https://vimeo.com/89396394" class="overlay-trigger-icon bg-light text-dark not-animated" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeInUpSmall" data-hover-speed="350" data-lightbox="iframe" style="animation-duration: 350ms;"><i class="uil uil-play"></i></a>
									<a href="portfolio-single.html" class="overlay-trigger-icon bg-light text-dark not-animated" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeInUpSmall" data-hover-speed="350" style="animation-duration: 350ms;"><i class="uil uil-ellipsis-h"></i></a>
								</div>
								<div class="bg-overlay-bg dark not-animated" data-hover-animate="fadeIn" data-hover-speed="350" data-bs-theme="dark" style="animation-duration: 350ms;"></div>
							</div>
						</div>
						<div class="portfolio-desc">
							<h3><a href="portfolio-single-video.html">Mac Sunglasses</a></h3>
							<span><a href="#">Graphics</a>, <a href="#">UI Elements</a></span>
						</div>
					</div>
				</div><div class="owl-item" style="width: 278.25px; margin-right: 1px;">
					<div class="portfolio-item">
						<div class="portfolio-image">
							<a href="#">
								<img src="images/portfolio/4/4.jpg" alt="Morning Dew">
							</a>
							<div class="bg-overlay" data-lightbox="gallery">
								<div class="bg-overlay-content dark animated fadeOut" data-hover-animate="fadeIn" data-bs-theme="dark" style="animation-duration: 600ms;">
									<a href="images/portfolio/full/4.jpg" class="overlay-trigger-icon bg-light text-dark animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-lightbox="gallery-item" style="animation-duration: 350ms;"><i class="uil uil-images"></i></a>
									<a href="images/portfolio/full/4-1.jpg" class="d-none" data-lightbox="gallery-item"></a>
									<a href="portfolio-single.html" class="overlay-trigger-icon bg-light text-dark animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" style="animation-duration: 350ms;"><i class="uil uil-ellipsis-h"></i></a>
								</div>
								<div class="bg-overlay-bg dark animated fadeOut" data-hover-animate="fadeIn" data-bs-theme="dark" style="animation-duration: 600ms;"></div>
							</div>
						</div>
						<div class="portfolio-desc">
							<h3><a href="portfolio-single-gallery.html">Morning Dew</a></h3>
							<span><a href="#">Icons</a>, <a href="#">Illustrations</a></span>
						</div>
					</div>
				</div><div class="owl-item active" style="width: 278.25px; margin-right: 1px;">
					<div class="portfolio-item">
						<div class="portfolio-image">
							<a href="portfolio-single.html">
								<img src="images/portfolio/4/5.jpg" alt="Console Activity">
							</a>
							<div class="bg-overlay">
								<div class="bg-overlay-content dark not-animated" data-hover-animate="fadeIn" data-bs-theme="dark" style="animation-duration: 600ms;">
									<a href="images/portfolio/full/5.jpg" class="overlay-trigger-icon bg-light text-dark not-animated" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-lightbox="image" title="Image" style="animation-duration: 350ms;"><i class="uil uil-plus"></i></a>
									<a href="portfolio-single.html" class="overlay-trigger-icon bg-light text-dark not-animated" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" style="animation-duration: 350ms;"><i class="uil uil-ellipsis-h"></i></a>
								</div>
								<div class="bg-overlay-bg dark not-animated" data-hover-animate="fadeIn" data-bs-theme="dark" style="animation-duration: 600ms;"></div>
							</div>
						</div>
						<div class="portfolio-desc">
							<h3><a href="portfolio-single.html">Console Activity</a></h3>
							<span><a href="#">UI Elements</a>, <a href="#">Media</a></span>
						</div>
					</div>
				</div><div class="owl-item active" style="width: 278.25px; margin-right: 1px;">
					<div class="portfolio-item">
						<div class="portfolio-image">
							<a href="portfolio-single-gallery.html">
								<img src="images/portfolio/4/6.jpg" alt="Shake It!">
							</a>
							<div class="bg-overlay" data-lightbox="gallery">
								<div class="bg-overlay-content dark animated fadeOut" data-hover-animate="fadeIn" data-bs-theme="dark" style="animation-duration: 600ms;">
									<a href="images/portfolio/full/6.jpg" class="overlay-trigger-icon bg-light text-dark animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-lightbox="gallery-item" style="animation-duration: 350ms;"><i class="uil uil-images"></i></a>
									<a href="images/portfolio/full/6-1.jpg" class="d-none" data-lightbox="gallery-item"></a>
									<a href="images/portfolio/full/6-2.jpg" class="d-none" data-lightbox="gallery-item"></a>
									<a href="images/portfolio/full/6-3.jpg" class="d-none" data-lightbox="gallery-item"></a>
									<a href="portfolio-single-gallery.html" class="overlay-trigger-icon bg-light text-dark animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" style="animation-duration: 350ms;"><i class="uil uil-ellipsis-h"></i></a>
								</div>
								<div class="bg-overlay-bg dark animated fadeOut" data-hover-animate="fadeIn" data-bs-theme="dark" style="animation-duration: 600ms;"></div>
							</div>
						</div>
						<div class="portfolio-desc">
							<h3><a href="portfolio-single-gallery.html">Shake It!</a></h3>
							<span><a href="#">Illustrations</a>, <a href="#">Graphics</a></span>
						</div>
					</div>
				</div><div class="owl-item active" style="width: 278.25px; margin-right: 1px;">
					<div class="portfolio-item">
						<div class="portfolio-image">
							<a href="portfolio-single-video.html">
								<img src="images/portfolio/4/7.jpg" alt="Backpack Contents">
							</a>
							<div class="bg-overlay">
								<div class="bg-overlay-content dark animated fadeOut" data-hover-animate="fadeIn" data-bs-theme="dark" style="animation-duration: 600ms;">
									<a href="https://www.youtube.com/watch?v=kuceVNBTJio" class="overlay-trigger-icon bg-light text-dark animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-lightbox="iframe" style="animation-duration: 350ms;"><i class="uil uil-play"></i></a>
									<a href="portfolio-single.html" class="overlay-trigger-icon bg-light text-dark animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" style="animation-duration: 350ms;"><i class="uil uil-ellipsis-h"></i></a>
								</div>
								<div class="bg-overlay-bg dark animated fadeOut" data-hover-animate="fadeIn" data-bs-theme="dark" style="animation-duration: 600ms;"></div>
							</div>
						</div>
						<div class="portfolio-desc">
							<h3><a href="portfolio-single-video.html">Backpack Contents</a></h3>
							<span><a href="#">UI Elements</a>, <a href="#">Icons</a></span>
						</div>
					</div>
				</div><div class="owl-item active" style="width: 278.25px; margin-right: 1px;">
					<div class="portfolio-item">
						<div class="portfolio-image">
							<a href="portfolio-single.html">
								<img src="images/portfolio/4/8.jpg" alt="Sunset Bulb Glow">
							</a>
							<div class="bg-overlay">
								<div class="bg-overlay-content dark animated fadeOut" data-hover-animate="fadeIn" data-bs-theme="dark" style="animation-duration: 600ms;">
									<a href="images/portfolio/full/8.jpg" class="overlay-trigger-icon bg-light text-dark animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-lightbox="image" title="Image" style="animation-duration: 350ms;"><i class="uil uil-plus"></i></a>
									<a href="portfolio-single.html" class="overlay-trigger-icon bg-light text-dark animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" style="animation-duration: 350ms;"><i class="uil uil-ellipsis-h"></i></a>
								</div>
								<div class="bg-overlay-bg dark animated fadeOut" data-hover-animate="fadeIn" data-bs-theme="dark" style="animation-duration: 600ms;"></div>
							</div>
						</div>
						<div class="portfolio-desc">
							<h3><a href="portfolio-single.html">Sunset Bulb Glow</a></h3>
							<span><a href="#">Graphics</a></span>
						</div>
					</div>
				</div>
			</div>
		</div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><i class="uil uil-angle-left-b"></i></button><button type="button" role="presentation" class="owl-next disabled"><i class="uil uil-angle-right-b"></i></button></div><div class="owl-dots disabled"></div>
	</div>
</div>