@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic
@using Volo.Abp.Ui.Branding
@inject ICanvasThemeBrandingProvider BrandingProvider
<a class="navbar-brand" href="/">
    @if (!BrandingProvider.LogoUrl.IsNullOrWhiteSpace())
    {
        <img src="@BrandingProvider.LogoUrl" alt="@BrandingProvider.AppName" >
    }
    @BrandingProvider.AppName
</a>
