@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic
@using Volo.Abp.Ui.Branding
@inject ICanvasThemeBrandingProvider BrandingProvider

<div id="logo">
    <a asp-page="/">
        <img class="logo-default" srcset="/themes/@BrandingProvider.AppName/images/logo.png, /themes/@BrandingProvider.AppName/images/logo@2x.png 2x" src="/themes/@BrandingProvider.AppName/images/logo@2x.png" alt="@BrandingProvider.AppName Logo">
        <img class="logo-dark" srcset="/themes/@BrandingProvider.AppName/images/logo-dark.png, /themes/@BrandingProvider.AppName/images/logo-dark@2x.png 2x" src="/themes/@BrandingProvider.AppName/images/logo-dark@2x.png" alt="@BrandingProvider.AppName Logo">
    </a>
</div>