@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic.Themes.Basic.Components.Introduction;

@model IntroductionModel


<div class="container">

	<div class="mx-auto text-center" style="max-width: 900px;">
		<img class="mb-5" src="~/images/logo.png" alt="Image">
		<h1>Welcome! This is Erind<span>onTrack</span>.</h1>
		<h2>We specialise in fitting straight and window bay tracks, roller & Roman blinds.</h2>
		<a href="#" class="button button-3d button-dark button-large ">Browse Services</a>
		<a href="#" class="button button-3d button-large">Call Us</a>
	</div>

</div>