@using Volo.Abp.Ui.Branding
@inject IBrandingProvider BrandingProvider

<div id="logo">
    <a asp-page="Index">
        <img class="logo-default" srcset="/themes/mdw/images/logo.png, /themes/mdw/images/logo@2x.png 2x" src="/themes/mdw/images/logo@2x.png" alt="MD Wigmore Logo">
        <img class="logo-dark" srcset="/themes/mdw/images/logo-dark.png, /themes/mdw/images/logo-dark@2x.png 2x" src="/themes/mdw/images/logo-dark@2x.png" alt="MD Wigmore Logo">
    </a>
</div>