@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic.Themes.Basic.Components.Guarantee
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic.Themes.Basic.Components.Introduction

@model GuaranteeModel

<div class="col">
    <h4>@Model.Title</h4>
</div>
