@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic.Themes.Basic.Components.ClientReviews

@model ClientReviewsModel

<div class="section mt-4 mb-0">

	<div class="container">

		<div class="heading-block text-center">
			<h3>Testimonials</h3>
			<span>Check out some of our Client Reviews</span>
		</div>

		<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 align-items-stretch">
			<div class="col">
				<div class="card rounded-6 shadow-sm overflow-hidden h-100">
					<div class="card-body p-4">
						<div class="row">
							<div class="col-auto pt-2">
								<img class="rounded-circle" src="images/testimonials/1.jpg" width="64" height="64" alt="Customer Testimonails">
							</div>
							<div class="col">
								<p class="mb-3 font-secondary fst-italic">Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero illo rerum repellendus!</p>
								<h4 class="h6 mb-0 fw-medium">John Doe</h4>
								<small class="text-muted">XYZ Inc.</small>
							</div>
						</div>
					</div>
					<div class="bg-icon bi-star-fill op-02"></div>
				</div>
			</div>
			<div class="col">
				<div class="card rounded-6 shadow-sm overflow-hidden h-100">
					<div class="card-body p-4">
						<div class="row">
							<div class="col-auto pt-2">
								<img class="rounded-circle" src="images/testimonials/1.jpg" width="64" height="64" alt="Customer Testimonails">
							</div>
							<div class="col">
								<p class="mb-3 font-secondary fst-italic">Natus voluptatum enim quod necessitatibus quis expedita harum provident eos obcaecati id culpa corporis molestias.</p>
								<h4 class="h6 mb-0 fw-medium">Collis Ta'eed</h4>
								<small class="text-muted">Envato Inc.</small>
							</div>
						</div>
					</div>
					<div class="bg-icon bi-star-fill op-02"></div>
				</div>
			</div>
			<div class="col">
				<div class="card rounded-6 shadow-sm overflow-hidden h-100">
					<div class="card-body p-4">
						<div class="row">
							<div class="col-auto pt-2">
								<img class="rounded-circle" src="images/testimonials/1.jpg" width="64" height="64" alt="Customer Testimonails">
							</div>
							<div class="col">
								<p class="mb-3 font-secondary fst-italic">Fugit officia dolor sed harum excepturi ex iusto magnam asperiores molestiae qui natus obcaecati facere sint amet.</p>
								<h4 class="h6 mb-0 fw-medium">Mary Jane</h4>
								<small class="text-muted">Google Inc.</small>
							</div>
						</div>
					</div>
					<div class="bg-icon bi-star-fill op-02"></div>
				</div>
			</div>
			<div class="col">
				<div class="card rounded-6 shadow-sm overflow-hidden h-100">
					<div class="card-body p-4">
						<div class="row">
							<div class="col-auto pt-2">
								<img class="rounded-circle" src="images/testimonials/1.jpg" width="64" height="64" alt="Customer Testimonails">
							</div>
							<div class="col">
								<p class="mb-3 font-secondary fst-italic">Similique fugit repellendus expedita excepturi iure perferendis provident quia eaque. Repellendus, vero numquam?</p>
								<h4 class="h6 mb-0 fw-medium">Steve Jobs</h4>
								<small class="text-muted">Apple Inc.</small>
							</div>
						</div>
					</div>
					<div class="bg-icon bi-star-fill op-02"></div>
				</div>
			</div>
			<div class="col">
				<div class="card rounded-6 shadow-sm overflow-hidden h-100">
					<div class="card-body p-4">
						<div class="row">
							<div class="col-auto pt-2">
								<img class="rounded-circle" src="images/testimonials/1.jpg" width="64" height="64" alt="Customer Testimonails">
							</div>
							<div class="col">
								<p class="mb-3 font-secondary fst-italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, perspiciatis illum totam dolore deleniti labore.</p>
								<h4 class="h6 mb-0 fw-medium">Jamie Morrison</h4>
								<small class="text-muted">Apple Inc.</small>
							</div>
						</div>
					</div>
					<div class="bg-icon bi-star-fill op-02"></div>
				</div>
			</div>
			<div class="col">
				<div class="card rounded-6 shadow-sm overflow-hidden h-100">
					<div class="card-body p-4">
						<div class="row">
							<div class="col-auto pt-2">
								<img class="rounded-circle" src="images/testimonials/1.jpg" width="64" height="64" alt="Customer Testimonails">
							</div>
							<div class="col">
								<p class="mb-3 font-secondary fst-italic">Porro dolorem saepe reiciendis nihil minus neque. Ducimus rem necessitatibus repellat laborum nemo quod.</p>
								<h4 class="h6 mb-0 fw-medium">Cyan Ta'eed</h4>
								<small class="text-muted">TutsPlus+</small>
							</div>
						</div>
					</div>
					<div class="bg-icon bi-star-fill op-02"></div>
				</div>
			</div>
		</div>

	</div>

</div>