<div class="section mb-0">

	<div class="container">

		<div class="heading-block text-center">
			<h3>Subscribe to our <span>Newsletter</span></h3>
		</div>

		<div class="subscribe-widget">
			<div class="widget-subscribe-form-result"></div>
			<form id="widget-subscribe-form2" action="include/subscribe.php" method="post" class="mb-0">
				<div class="input-group input-group-lg mx-auto" style="max-width:600px;">
					<div class="input-group-text"><i class="bi-envelope-plus"></i></div>
					<input type="email" name="widget-subscribe-form-email" class="form-control required email" placeholder="Enter your Email">
					<button class="btn btn-secondary" type="submit">Subscribe Now</button>
				</div>
			</form>
		</div>

	</div>

</div>
